# 仮想環境フォルダを無視
.venv/
env/

# Pythonキャッシュファイルを無視
__pycache__/
*.py[cod]

# 大きなバイナリファイルを無視
Lib/site-packages/**/*.dll
Lib/site-packages/**/*.pyd
Lib/site-packages/tensorflow/
Lib/site-packages/jaxlib/

