# 仮想環境フォルダを無視
.venv/
env/

# Pythonキャッシュファイルを無視
__pycache__/
*.py[cod]

# Ignore site-packages
Lib/site-packages/jaxlib/xla_extension.pyd
Lib/site-packages/tensorflow/python/_pywrap_tensorflow_internal.pyd
new_rasa_env/Lib/site-packages/clang/native/libclang.dll
Lib/site-packages/
bfg-1.15.0.jar
